.text-field-content {
  width: calc(100% - 48px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 59px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  font-family: var(--font-prompt);
  font-size: var(--body-regular-large-size);
  color: var(--blacks-semi);
  min-width: 185px;
}

.input,
.inputs-text-field {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.inputs-text-field {
  border-radius: var(--br-9xs);
  background-color: var(--blacks-light);
  border: 1px solid var(--blacks-50);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-mid) 0 var(--padding-mini);
  gap: var(--gap-base);
  min-height: 64px;
}

.input {
  flex-direction: column;
  align-items: flex-start;
}

.provider-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}

.providers-title {
  position: relative;
  line-height: 120%;
  color: var(--blacks-semi);
}

.row-provider {
  width: 327px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  flex-wrap: wrap;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-b {
  position: relative;
  line-height: 120%;
  border: none;
  background-color: inherit;
}

.frame-b:checked {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-6xs) var(--padding-8xs)
    var(--padding-3xs);
  background-color: var(--palette-yellow);
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}

.providers {
  position: relative;
  line-height: 120%;
  color: var(--blacks-semi);
  font-size: var(--body-regular-large-size);
  font-family: var(--font-prompt);
  color: var(--blacks-dark);
  text-align: left;
}

.checkbox-as-button {
  display: inline-block;
  cursor: pointer;
}

.checkbox-as-button__input {
  display: none; /* Скрыть стандартный чекбокс */
}

.checkbox-as-button__label {
  position: relative;
  line-height: 120%;
  border: none;
  background-color: inherit;
  border-radius: var(--br-9xs);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  cursor: pointer;
  padding: var(--padding-8xs) var(--padding-6xs) var(--padding-8xs)
    var(--padding-3xs);
}

.checkbox-as-button__input:checked + .checkbox-as-button__label {
  background-color: var(--palette-yellow) ;
}

.sectionBottom{
  display: flex;
  align-items: center;
}
.sectionBottom {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.games-amount{
  position: relative;
  line-height: 120%;
}

.resetButton{
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-2xs) var(--padding-xs);
  background-color: var(--blacks-light);
  width: 120px;
  border-radius: var(--br-9xs);
  box-shadow: var(--shadows-main);
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  color: darkgrey;
}

.resetButton:hover {
  background-color: var(--color-gainsboro);
  color: black;
}

.resetButton:pressed {
  background-color: var(--color-gainsboro);
  color: black;
}