.game-thumbnail-small {
  height: 141px;
  width: 196px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.game-thumbnail-medium {
  height: 191px;
  width: 268px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
}

.game-thumbnail-large {
  height: 241px;
  width: 340px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.input-instance {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px 16px;
  min-height: 302px;
  max-width: 100%;
}
.filters-frame,
.usergame-list-group-selected {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.filters-frame {
  width: 1316px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  max-width: 100%;
}
.usergame-list-group-selected {
  width: 100%;
  position: relative;
  background-color: var(--blacks-25);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 var(--padding-37xl);
  gap: var(--gap-56xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .input-instance {
    min-height: auto;
  }
  .filters-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .input-instance {
    min-width: 100%;
  }
  .usergame-list-group-selected {
    gap: var(--gap-56xl);
  }
}
@media screen and (max-width: 450px) {
  .usergame-list-group-selected {
    gap: var(--gap-56xl);
  }
}
