.logo-icon2 {
  height: 70px;
  width: 70px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.game-portfolio-icon2 {
  height: 32px;
  width: 74px;
  position: relative;
  display: none;
}
.logo2 {
  width: 152px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.player-1 {
  width: 1044px;
  position: relative;
  line-height: 120%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  white-space: nowrap;
}
.icons-profile-16px {
  height: 16px;
  width: 16px;
  position: relative;
}
.logout {
  position: relative;
  line-height: 120%;
}
.header,
.icons-profile-16px-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.icons-profile-16px-parent {
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--tech-error);
}
.header {
  align-self: stretch;
  background-color: var(--blacks-25);
  box-shadow: var(--shadows-main);
  align-items: center;
  gap: var(--gap-22xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: right;
  font-size: var(--body-regular-large-size);
  color: var(--blacks-dark);
  font-family: var(--font-prompt);
}
@media screen and (max-width: 725px) {
  .header {
    gap: var(--gap-22xl);
  }
}
