.login {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--blacks-25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20vh var(--padding-xs);
  box-sizing: border-box;
}
