.logo-icon {
    height: 70px;
    width: 70px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .game-portfolio-icon {
    height: 32px;
    width: 74px;
    position: relative;
    display: none;
  }
  .logo {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .sample-text,
  .sample-title {
    position: relative;
    font-size: 12px;
    line-height: 120%;
    font-family: Commissioner;
    color: gray;
    text-align: left;
  }
  .sample-text {
    width: 54px;
    border: 0;
    outline: 0;
    font-family: Prompt;
    font-size: 16px;
    background-color: transparent;
    height: 19px;
    color: #2b2b2b;
    display: inline-block;
  }
  .text-field-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
  }
  .inputs-text-field {
    /* align-self: stretch; */
    /* flex: 1; */
    /* border-radius: 4px; */
    /* background-color: #fff; */
    /* border: 1px solid #f2f2f2; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* padding: 0 17px 0 15px; */
  }
  .input,
  .text-field-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input {
    align-self: stretch;
    height: 64px;
    justify-content: flex-start;
  }
  .text-field-content {
    width: calc(100% - 48px);
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 59px;
    flex: 1;
    justify-content: center;
    padding: 20px 0;
    box-sizing: border-box;
    font-family: Prompt;
    font-size: 16px;
    color: gray;
    min-width: 226px;
  }
  .icons-show-password {
    height: 16px;
    width: 16px;
    position: relative;
  
  }
  .input1,
  .inputs-text-field,
  .section-main {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .inputs-text-field {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 17px 0 15px;
    gap: 16px;
    min-height: 64px;
  }
  .input1,
  .section-main {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-main {
    gap: 20px;
  }
  .save {
    position: relative;
    font-size: 16px;
    line-height: 120%;
    font-family: Prompt;
    color: #2b2b2b;
    text-align: left;
  }
  .button,
  .login-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 24px;
    background-color: #fdbc11;
    align-self: stretch;
    height: 64px;
    border-radius: 4px;
    box-shadow: 0-2px 18px rgba(128, 128, 128, 0.1);
    flex-direction: row;
    box-sizing: border-box;
  }
  .login-form {
    margin: 0;
    width: 412px;
    flex-direction: column;
    gap: 40px;
  }
  
  
  